-- Full route SEO editing: template metadata columns on seo_settings

ALTER TABLE public.seo_settings ADD COLUMN IF NOT EXISTS json_ld_type text;
ALTER TABLE public.seo_settings ADD COLUMN IF NOT EXISTS route_type text;
ALTER TABLE public.seo_settings ADD COLUMN IF NOT EXISTS template_variables jsonb;

COMMENT ON COLUMN public.seo_settings.route_type IS 'static | dynamic | cms | private';
COMMENT ON COLUMN public.seo_settings.template_variables IS 'Allowed {{variable}} names for dynamic route templates';
